@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer {
  :root {
    --background-dark: #111113;
    --main-dark: #17191b;
    --main-dark-opacity: rgba(23, 25, 27, 0.95);
    --light-dark: #1e2123;
    --border-dark: #21252e;

    --text-gray: #edeef0;
    --light-gray: #f5f5f5;

    --light-blue: #81d4fa;
  }
}